.heading{
    font-size: 	20px;
    margin: 0 25px;
    padding: 10px 0 15px;
    position: relative;
    
    &:after{
        content: url('/img/suket.svg');
        position: absolute;
        right: -40px;
    }
  }
  
  .message{
    margin: 30px 25px;
  }
  
  @media (max-width: 350px){
    .message{
      margin: 0 10px;
    }
  }
  
  .btn{
      border: 0;
      padding: 15px 20px;
      border-radius: 10px;
      cursor: pointer;
      color: var(--body-color);
      font-size: var(--h6);
      background: linear-gradient(30deg, var(--icon-gradientx), var(--icon-gradienty));
      color: var(--white);
  }